SpimCat>Registration, "Image Registration 3D", net.haesleinhuepf.imagej.zoo.registration.ImageRegistration3D
SpimCat>XWing,  "Zoo explorer",                net.haesleinhuepf.imagej.zoo.ZooExplorerPlugin
SpimCat>XWing,  "Open virtual RAW stack",      net.haesleinhuepf.imagej.zoo.data.VirtualRawStackOpener
SpimCat>XWing,  "Open ClearControl data set",  net.haesleinhuepf.imagej.zoo.data.ClearControlDataSetOpener
Plugins>ImageJ on GPU (CLIJ),   "CLIJ Bar",     net.haesleinhuepf.imagej.gui.CLIJBar
