SpimCat>File,  "Zoo explorer",                net.haesleinhuepf.imagej.zoo.ZooExplorerPlugin
SpimCat>File,  "Open virtual RAW stack",      net.haesleinhuepf.imagej.zoo.data.VirtualRawStackOpener
SpimCat>File,  "Open virtual TIF stack",      net.haesleinhuepf.imagej.zoo.data.VirtualTifStackOpener
SpimCat>File,  "Open ClearControl data set",  net.haesleinhuepf.imagej.zoo.data.ClearControlDataSetOpener

SpimCat>Stacks,  "Crop 4D Stack", net.haesleinhuepf.imagej.zoo.cropping.Crop4D
SpimCat>Stacks, "Image Registration 3D", net.haesleinhuepf.imagej.zoo.registration.ImageRegistration3D

Plugins>ImageJ on GPU (CLIJ),   "CLIJ Bar",     net.haesleinhuepf.imagej.gui.CLIJBar
