SpimCat>File,  "Zoo explorer",                net.haesleinhuepf.imagej.zoo.ZooExplorerPlugin
SpimCat>File,  "Open virtual RAW stack",      net.haesleinhuepf.imagej.zoo.data.VirtualRawStackOpener
SpimCat>File,  "Open virtual TIF stack",      net.haesleinhuepf.imagej.zoo.data.VirtualTifStackOpener
SpimCat>File,  "Open ClearControl data set",  net.haesleinhuepf.imagej.zoo.data.ClearControlDataSetOpener

SpimCat>Stacks,  "Crop 4D Stack", net.haesleinhuepf.imagej.zoo.cropping.Crop4D
SpimCat>Stacks, "Image Registration 3D", net.haesleinhuepf.imagej.zoo.registration.ImageRegistration3D

SpimCat>Stacks,  "Phase annotator", net.haesleinhuepf.imagej.zoo.annotation.PhaseAnnotator
SpimCat>Stacks,  "Phase annotator to go", net.haesleinhuepf.imagej.zoo.annotation.PhaseAnnotatorToGo

Plugins>Segmentation, "CLIJx Weka Binary Pixel Classification (CLIJx, experimental)", net.haesleinhuepf.clijx.weka.gui.CLIJxWekaBinaryPixelClassification

